.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--m);
}

.card {
    flex: 0 1 calc(50% - var(--m) / 2);
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--xs);
    cursor: pointer;
    animation: none;
}

.product-card.select, .product-card.unselect {
    transition: transform linear;
    animation: product-card-shake .2s infinite;
}

.product-card.select:nth-child(5n + 1), .product-card.unselect:nth-child(5n + 1) {animation-delay: 0s;}
.product-card.select:nth-child(5n + 2), .product-card.unselect:nth-child(5n + 2) {animation-delay: .025s;}
.product-card.select:nth-child(5n + 3), .product-card.unselect:nth-child(5n + 3) {animation-delay: .050s;}
.product-card.select:nth-child(5n + 4), .product-card.unselect:nth-child(5n + 4) {animation-delay: .075s;}
.product-card.select:nth-child(5n + 5), .product-card.unselect:nth-child(5n + 5) {animation-delay: .1s;}

@keyframes product-card-shake {
    0%   {transform: rotateZ(0deg);}
    25%  {transform: rotateZ(.5deg);}
    50%  {transform: rotateZ(0deg);}
    75%  {transform: rotateZ(-.5deg);}
    100% {transform: rotateZ(0deg);}
}

.product-card .selection-point {
    width: var(--m);
    height: var(--m);
    position: absolute;
    top: var(--xs);
    right: var(--xs);
    z-index: 10;
    border: 2px solid var(--light);
    border-radius: 50%;
    border-radius: 100px;
    pointer-events: none;
    transition: background-color .2s ease-in-out;
}

.product-card:not(.unselect, .select) .selection-point {
    display: none;
}

.product-card.unselect .selection-point {
    display: block;
    background-color: var(--light);
}

.product-card.select .selection-point {
    display: block;
    background-color: var(--primary);
}

.product-card .status {
    width: var(--s);
    height: var(--s);
    position: absolute;
    top: calc(var(--l) / 2);
    left: calc(var(--l) / 2);
    z-index: 10;
    background-color: var(--grey);
    border: none;
    border-radius: 50%;
    pointer-events: none;
    transition: background-color .2s ease-in-out;
}

.product-card .status.active {
    background-color: var(--primary)
}

.product-card .status.error {
    background-color: var(--error)
}

.product-card .task {
    position: absolute;
    left: calc(var(--l) / 2);
    bottom: calc(var(--l) / 2);
    font-size: var(--s);
    background-color: rgba(var(--grey-rgb), .5);
    border: none;
    border-radius: var(--xs);
    padding: var(--xxs) var(--xs);
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.product-image {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    background-color: var(--primary-light-2);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    border: none;
    border-radius: var(--xs);
}

.product-image.default {
    background-image: url(/src/images/noimage.png);
}

.product-image.loading {
    background-image:
        linear-gradient(90deg, transparent, var(--primary-light-3), transparent),
        linear-gradient(var(--primary-light-2), var(--primary-light-2)),
        linear-gradient(var(--primary-light-2), var(--primary-light-2)),
        linear-gradient(var(--primary-light-2), var(--primary-light-2));
    background-size: 300px 300px;
    background-position: -300px 0, 0 0;
    animation: product-card-loading 2s infinite;
}

.product-card:nth-child(5n + 1) .product-image.loading {animation-delay: 0s;}
.product-card:nth-child(5n + 2) .product-image.loading {animation-delay: .1s;}
.product-card:nth-child(5n + 3) .product-image.loading {animation-delay: .2s;}
.product-card:nth-child(5n + 4) .product-image.loading {animation-delay: .3s;}
.product-card:nth-child(5n + 5) .product-image.loading {animation-delay: .4s;}

@keyframes product-card-loading {
    to {
        background-position: 300px 0, 0 0;
    }
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--xs);
}

.product-title {
    color: var(--text-color);
    font-size: var(--text-size-s);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.edit-products-wrapper {
    /* width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: var(--m); */
}

.categories-wrapper {
    
}

.category-card {
    width: 100%;
    height: 52px;
    max-height: 52px;
    background: var(--bg-gradient);
    border: none;
    border-radius: var(--m);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--m) var(--m);
    cursor: pointer;
    transition: height .3s ease-in-out;
}

.category-card.sub {
    width: calc(100% - var(--l));
    background: linear-gradient(90.00deg, rgb(23, 52, 79),rgb(29, 65, 99) 100%);
    margin-left: var(--l);
}

.category-card-title {
    color: var(--text-color);
}

.category-card-count {
    color: var(--text-color);
    opacity: .5;
}