.startscreen-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--xxxl);
    margin-top: 96px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--xl);
}