.startscreen {
    gap: var(--xxxl);
    margin-top: 96px;
}

.startscreen h1 {
    font-size: 36px;
    font-weight: 700;
}

.startscreen .buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--xl);
}