.quote {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--m);
}

.quote-line {
  --size: 4px;
  width: var(--size);
  background-color: var(--secondary-dark-3);
  border-radius: var(--size);
}

.quote-text {
  font-size: var(--text-size-m);
  white-space: pre-wrap;
  color: var(--text-color);
  box-shadow: none;
  outline: 0;
}