.bg {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.bg-circle {
    position: absolute;
    bottom: -1000px;
    left: 50%;
    z-index: -2;
    transform: translateX(-50%);
    width: 1500px;
    height: 1500px;
    border-radius: 1500px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(var(--primary-dark-2-rgb), 1) 22%, rgba(var(--primary-dark-2-rgb), 0) 100%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.bg-star-wrapper {
    --size: 32px;
    --time: 12s;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: .5;
}

.bg-star-wrapper[data-star="1"] {
    left: 80px;
    bottom: 120px;
    transform: rotate(-4deg);
}

.bg-star-wrapper[data-star="2"] {
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%) rotate(-1deg);
}

.bg-star-wrapper[data-star="3"] {
    right: 60px;
    bottom: 210px;
    transform: rotate(5deg);
}

.bg-star {
    opacity: .5;
    scale: 1;
}

.bg-star-wrapper[data-star="1"] .bg-star {
    animation: star-1 var(--time) ease-in-out infinite;
}

.bg-star-wrapper[data-star="2"] .bg-star {
    animation: star-2 var(--time) ease-in-out infinite;
}

.bg-star-wrapper[data-star="3"] .bg-star {
    animation: star-3 var(--time) ease-in-out infinite;
}

@keyframes star-1 {
    0%   { opacity: .5; scale: .7; }
    50%  { opacity: 1; scale: 1.4; }
    100% { opacity: .5; scale: .7; }
}

@keyframes star-2 {
    0%   { opacity: 1; scale: 1.2; }
    50%  { opacity: .5; scale: .6; }
    100% { opacity: 1; scale: 1.2; }
}

@keyframes star-3 {
    0%   { opacity: .5; scale: .5; }
    50%  { opacity: 1; scale: 1; }
    100% { opacity: .5; scale: .5; }
}